<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="register">
	    INSERT INTO MP_MEMBER(   USERID 
	   					       , USERPASS 
	   					       , USERNAME 	)
	                  VALUES(    #{userId} 
	                 		   , #{userPass}
	                 		   , #{userName})
    </insert>

    <!-- 로그인 -->
	<select id="login" resultType="com.withme.vo.MemberVO">
		SELECT USERID, USERPASS 
		  FROM MP_MEMBER
		 WHERE USERID = #{userId}
		   AND USERPASS = #{userPass}   
	</select>
	
</mapper>